*,body{
    margin: 0%;
    padding: 0%;
    font-family: 'Times New Roman', Times, serif;
    
}

.container header{
    background: rgb(0, 0, 0) url(/Biography/img/jack.jpg) no-repeat;
    width: 1370px;
    height: 300px;
    text-align: center;
    background-size: 30% auto;
    background-position: right;

}

.container h2 {
    background-color:rgba(255, 255, 255, 0.932);
    display: inline-block;
    padding: 10px;
    margin: 150px;
}
.container h2 span {
    display: block;
}

.container .frase {
    background: rgb(31, 166, 184);
    margin: 10px 0;
    padding: 5px;
    text-align: center;
    display: block;
}

.container .col {
    display:block;
    float: left;
}

.container .col1 {
    width: 66%;
    text-align: center;
}

.container .col1 h2 {
    margin: 0;
    padding: 0;
    background: none;
}

.container .col2 {
    width: 34%;
}

.clear {
    clear: both;
}

.item div {
    display: block;
    float: left;
}

.item .date {
    width: 33%;
    text-align: right;
    padding-right: 2%;
}

.item .desc {
    width: 65%;
    text-align: left;
}

ul li {
    display: block;
    min-height: 100px;
    opacity: 0.9;
}

ul li:hover {
    opacity: 1;
}

ul li:nth-child(even) {
    background: rgb(181, 248, 231);
}

ul li:nth-child(odd) {
    background: #a9eeee;
}

.col2 {
    text-align: center;
    font-size: 12px;
}

.col2 img {
    width: 160px;
    border-radius: 30px;
    border: 2px solid #000;
    margin: 0 auto;
}

.col2 ul li span {
    display: block;
}

.col2 ul li span:nth-child(odd) {
    font-weight: bold;
}